<h1 class="center">Welcome to the Game of Dice</h1>
<br><br>
<form (ngSubmit)="begin()" class="game-form">
  <label for="p1">Enter Name of Player 1: </label>
  <input type="text" id="p1name" name="p1name" [(ngModel)]="player1.name" required/>
  <br>
  <label for="p2">Enter Name of Player 2: </label>
  <input type="text" id="p2name" name="p2name" [(ngModel)]="player2.name" required />
  <br>
</form>
<br><br>
<p>Match Between {{player1.name}} and {{player2.name}}</p>
<br>
<div class="center">
  <button (click)="startGame();">PLAY</button>
</div>
<p>{{player1.name}}:{{player1.dice_value}}</p>
<p>{{player2.name}}:{{player2.dice_value}}</p>

<p id="result">{{winner}}</p>
